{
  "openapi": "3.1.0",
  "info": {
    "title": "Redefine Meat Store API (WooCommerce Store API)",
    "version": "1.0.0",
    "description": "Public, unauthenticated commerce API served by www.redefinemeat.com: product catalog, categories, attributes, brands, tags, reviews, cart and checkout for Redefine Meat's plant-based New-Meat products. Derived from the site's own WordPress REST discovery index and per-route OPTIONS schemas.",
    "contact": {
      "name": "Redefine Meat",
      "url": "https://www.redefinemeat.com/contact/"
    },
    "x-generated": "2026-08-05",
    "x-method": "derived",
    "x-source": "https://www.redefinemeat.com/wp-json/",
    "x-derivation": "Mechanically derived from the live WordPress REST API discovery index at https://www.redefinemeat.com/wp-json/ plus a per-route HTTP OPTIONS request against the same host, which returns each route's own JSON Schema. Paths, methods, parameter schemas and response schemas are the provider's own published values; none were authored by API Evangelist."
  },
  "servers": [
    {
      "url": "https://www.redefinemeat.com/wp-json",
      "description": "Redefine Meat WordPress REST API"
    }
  ],
  "security": [],
  "paths": {
    "/wc/store/v1/batch": {
      "post": {
        "operationId": "postWcStoreV1Batch",
        "summary": "POST /wc/store/v1/batch",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "validation": {
                    "type": "string",
                    "enum": [
                      "require-all-validate",
                      "normal"
                    ],
                    "default": "normal"
                  },
                  "requests": {
                    "type": "array",
                    "maxItems": 25,
                    "items": {
                      "type": "object",
                      "properties": {
                        "method": {
                          "type": "string",
                          "enum": [
                            "POST",
                            "PUT",
                            "PATCH",
                            "DELETE"
                          ],
                          "default": "POST"
                        },
                        "path": {
                          "type": "string"
                        },
                        "body": {
                          "type": "object",
                          "properties": [],
                          "additionalProperties": true
                        },
                        "headers": {
                          "type": "object",
                          "properties": [],
                          "additionalProperties": {
                            "type": [
                              "string",
                              "array"
                            ],
                            "items": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "requests"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart": {
      "get": {
        "operationId": "getWcStoreV1Cart",
        "summary": "GET /wc/store/v1/cart",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Cart"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/add-item": {
      "post": {
        "operationId": "postWcStoreV1CartAddItem",
        "summary": "POST /wc/store/v1/cart/add-item",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "The basket item product or variation ID."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "Quantity of this item to add to the basket."
                  },
                  "variation": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "attribute": {
                          "description": "Variation attribute name.",
                          "type": "string"
                        },
                        "value": {
                          "description": "Variation attribute value.",
                          "type": "string"
                        }
                      }
                    },
                    "description": "Chosen attributes (for variations)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/apply-coupon": {
      "post": {
        "operationId": "postWcStoreV1CartApplyCoupon",
        "summary": "POST /wc/store/v1/cart/apply-coupon",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Unique identifier for the coupon within the basket."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/coupons": {
      "get": {
        "operationId": "getWcStoreV1CartCoupons",
        "summary": "GET /wc/store/v1/cart/coupons",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartCoupon"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWcStoreV1CartCoupons",
        "summary": "POST /wc/store/v1/cart/coupons",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "The coupon's unique code."
                  },
                  "discount_type": {
                    "type": "string",
                    "description": "The discount type for the coupon (eg percentage or fixed amount)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartCoupon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWcStoreV1CartCoupons",
        "summary": "DELETE /wc/store/v1/cart/coupons",
        "tags": [
          "wc/store/v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartCoupon"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/coupons/{code}": {
      "get": {
        "operationId": "getWcStoreV1CartCouponsByCode",
        "summary": "GET /wc/store/v1/cart/coupons/{code}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `code` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWcStoreV1CartCouponsByCode",
        "summary": "DELETE /wc/store/v1/cart/coupons/{code}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `code` from the WordPress REST route pattern."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/extensions": {
      "post": {
        "operationId": "postWcStoreV1CartExtensions",
        "summary": "POST /wc/store/v1/cart/extensions",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "namespace": {
                    "type": "string",
                    "description": "Extension's name - this will be used to ensure the data in the request is routed appropriately."
                  },
                  "data": {
                    "type": "object",
                    "description": "Additional data to pass to the extension"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartExtensions"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/items": {
      "get": {
        "operationId": "getWcStoreV1CartItems",
        "summary": "GET /wc/store/v1/cart/items",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CartItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWcStoreV1CartItems",
        "summary": "POST /wc/store/v1/cart/items",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extensions": {
                    "type": "object",
                    "properties": [],
                    "default": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWcStoreV1CartItems",
        "summary": "DELETE /wc/store/v1/cart/items",
        "tags": [
          "wc/store/v1"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CartItem"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/items/{key}": {
      "get": {
        "operationId": "getWcStoreV1CartItemsByKey",
        "summary": "GET /wc/store/v1/cart/items/{key}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `key` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWcStoreV1CartItemsByKey",
        "summary": "POST /wc/store/v1/cart/items/{key}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `key` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extensions": {
                    "type": "object",
                    "properties": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putWcStoreV1CartItemsByKey",
        "summary": "PUT /wc/store/v1/cart/items/{key}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `key` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extensions": {
                    "type": "object",
                    "properties": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchWcStoreV1CartItemsByKey",
        "summary": "PATCH /wc/store/v1/cart/items/{key}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `key` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "extensions": {
                    "type": "object",
                    "properties": []
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWcStoreV1CartItemsByKey",
        "summary": "DELETE /wc/store/v1/cart/items/{key}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "key",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `key` from the WordPress REST route pattern."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/remove-coupon": {
      "post": {
        "operationId": "postWcStoreV1CartRemoveCoupon",
        "summary": "POST /wc/store/v1/cart/remove-coupon",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "Unique identifier for the coupon within the basket."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/remove-item": {
      "post": {
        "operationId": "postWcStoreV1CartRemoveItem",
        "summary": "POST /wc/store/v1/cart/remove-item",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Unique identifier (key) for the basket item."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/select-shipping-rate": {
      "post": {
        "operationId": "postWcStoreV1CartSelectShippingRate",
        "summary": "POST /wc/store/v1/cart/select-shipping-rate",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "package_id": {
                    "type": [
                      "integer",
                      "string",
                      "null"
                    ],
                    "description": "The ID of the package being shipped. Leave blank to apply to all packages."
                  },
                  "rate_id": {
                    "type": "string",
                    "description": "The chosen rate ID for the package."
                  }
                },
                "required": [
                  "rate_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/update-customer": {
      "post": {
        "operationId": "postWcStoreV1CartUpdateCustomer",
        "summary": "POST /wc/store/v1/cart/update-customer",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "billing_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email",
                        "type": "string"
                      }
                    },
                    "description": "Billing address."
                  },
                  "shipping_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      }
                    },
                    "description": "Shipping address."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/cart/update-item": {
      "post": {
        "operationId": "postWcStoreV1CartUpdateItem",
        "summary": "POST /wc/store/v1/cart/update-item",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "key": {
                    "type": "string",
                    "description": "Unique identifier (key) for the basket item to update."
                  },
                  "quantity": {
                    "type": "number",
                    "description": "New quantity of the item in the basket."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Cart"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/checkout": {
      "get": {
        "operationId": "getWcStoreV1Checkout",
        "summary": "GET /wc/store/v1/checkout",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Checkout"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWcStoreV1Checkout",
        "summary": "POST /wc/store/v1/checkout",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": [
                            "string",
                            "boolean"
                          ]
                        }
                      }
                    },
                    "description": "Data to pass through to the payment method when processing payment."
                  },
                  "customer_password": {
                    "type": "string",
                    "description": "Customer password for new accounts, if applicable."
                  },
                  "customer_note": {
                    "type": "string",
                    "description": "Note added to the order by the customer during checkout."
                  },
                  "billing_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email",
                        "type": "string"
                      }
                    },
                    "description": "Billing address."
                  },
                  "shipping_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      }
                    },
                    "description": "Shipping address."
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "",
                      "bacs",
                      "cheque",
                      "cod"
                    ],
                    "description": "The ID of the payment method being used to process the payment."
                  },
                  "create_account": {
                    "type": "boolean",
                    "description": "Whether to create a new user account as part of order processing."
                  },
                  "additional_fields": {
                    "type": "object",
                    "properties": [],
                    "description": "Additional fields to be persisted on the order."
                  },
                  "extensions": {
                    "type": "object",
                    "properties": {
                      "woocommerce/order-attribution": {
                        "description": "Extension data registered by woocommerce/order-attribution",
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "source_type": {
                            "description": "Order attribution field: source_type",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referrer": {
                            "description": "Order attribution field: referrer",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_campaign": {
                            "description": "Order attribution field: utm_campaign",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source": {
                            "description": "Order attribution field: utm_source",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_medium": {
                            "description": "Order attribution field: utm_medium",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_content": {
                            "description": "Order attribution field: utm_content",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_id": {
                            "description": "Order attribution field: utm_id",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_term": {
                            "description": "Order attribution field: utm_term",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source_platform": {
                            "description": "Order attribution field: utm_source_platform",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_creative_format": {
                            "description": "Order attribution field: utm_creative_format",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_marketing_tactic": {
                            "description": "Order attribution field: utm_marketing_tactic",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_entry": {
                            "description": "Order attribution field: session_entry",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_start_time": {
                            "description": "Order attribution field: session_start_time",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_pages": {
                            "description": "Order attribution field: session_pages",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_count": {
                            "description": "Order attribution field: session_count",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "user_agent": {
                            "description": "Order attribution field: user_agent",
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "default": {
                      "woocommerce/order-attribution": []
                    }
                  }
                },
                "required": [
                  "billing_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putWcStoreV1Checkout",
        "summary": "PUT /wc/store/v1/checkout",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "additional_fields": {
                    "type": "object",
                    "properties": [],
                    "description": "Additional fields to be persisted on the order."
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "",
                      "bacs",
                      "cheque",
                      "cod"
                    ],
                    "description": "The ID of the payment method being used to process the payment."
                  },
                  "order_notes": {
                    "type": "string",
                    "description": "Order notes."
                  },
                  "customer_note": {
                    "type": "string",
                    "description": "Note added to the order by the customer during checkout."
                  },
                  "billing_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email",
                        "type": "string"
                      }
                    },
                    "description": "Billing address."
                  },
                  "shipping_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      }
                    },
                    "description": "Shipping address."
                  },
                  "create_account": {
                    "type": "boolean",
                    "description": "Whether to create a new user account as part of order processing."
                  },
                  "extensions": {
                    "type": "object",
                    "properties": {
                      "woocommerce/order-attribution": {
                        "description": "Extension data registered by woocommerce/order-attribution",
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "source_type": {
                            "description": "Order attribution field: source_type",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referrer": {
                            "description": "Order attribution field: referrer",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_campaign": {
                            "description": "Order attribution field: utm_campaign",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source": {
                            "description": "Order attribution field: utm_source",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_medium": {
                            "description": "Order attribution field: utm_medium",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_content": {
                            "description": "Order attribution field: utm_content",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_id": {
                            "description": "Order attribution field: utm_id",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_term": {
                            "description": "Order attribution field: utm_term",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source_platform": {
                            "description": "Order attribution field: utm_source_platform",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_creative_format": {
                            "description": "Order attribution field: utm_creative_format",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_marketing_tactic": {
                            "description": "Order attribution field: utm_marketing_tactic",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_entry": {
                            "description": "Order attribution field: session_entry",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_start_time": {
                            "description": "Order attribution field: session_start_time",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_pages": {
                            "description": "Order attribution field: session_pages",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_count": {
                            "description": "Order attribution field: session_count",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "user_agent": {
                            "description": "Order attribution field: user_agent",
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchWcStoreV1Checkout",
        "summary": "PATCH /wc/store/v1/checkout",
        "tags": [
          "wc/store/v1"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "additional_fields": {
                    "type": "object",
                    "properties": [],
                    "description": "Additional fields to be persisted on the order."
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "",
                      "bacs",
                      "cheque",
                      "cod"
                    ],
                    "description": "The ID of the payment method being used to process the payment."
                  },
                  "order_notes": {
                    "type": "string",
                    "description": "Order notes."
                  },
                  "customer_note": {
                    "type": "string",
                    "description": "Note added to the order by the customer during checkout."
                  },
                  "billing_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email",
                        "type": "string"
                      }
                    },
                    "description": "Billing address."
                  },
                  "shipping_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      }
                    },
                    "description": "Shipping address."
                  },
                  "create_account": {
                    "type": "boolean",
                    "description": "Whether to create a new user account as part of order processing."
                  },
                  "extensions": {
                    "type": "object",
                    "properties": {
                      "woocommerce/order-attribution": {
                        "description": "Extension data registered by woocommerce/order-attribution",
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "source_type": {
                            "description": "Order attribution field: source_type",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referrer": {
                            "description": "Order attribution field: referrer",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_campaign": {
                            "description": "Order attribution field: utm_campaign",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source": {
                            "description": "Order attribution field: utm_source",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_medium": {
                            "description": "Order attribution field: utm_medium",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_content": {
                            "description": "Order attribution field: utm_content",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_id": {
                            "description": "Order attribution field: utm_id",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_term": {
                            "description": "Order attribution field: utm_term",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source_platform": {
                            "description": "Order attribution field: utm_source_platform",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_creative_format": {
                            "description": "Order attribution field: utm_creative_format",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_marketing_tactic": {
                            "description": "Order attribution field: utm_marketing_tactic",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_entry": {
                            "description": "Order attribution field: session_entry",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_start_time": {
                            "description": "Order attribution field: session_start_time",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_pages": {
                            "description": "Order attribution field: session_pages",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_count": {
                            "description": "Order attribution field: session_count",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "user_agent": {
                            "description": "Order attribution field: user_agent",
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Checkout"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wc/store/v1/checkout/{id}": {
      "post": {
        "operationId": "postWcStoreV1CheckoutById",
        "summary": "POST /wc/store/v1/checkout/{id}",
        "tags": [
          "wc/store/v1"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "payment_data": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "key": {
                          "type": "string"
                        },
                        "value": {
                          "type": [
                            "string",
                            "boolean"
                          ]
                        }
                      }
                    },
                    "description": "Data to pass through to the payment method when processing payment."
                  },
                  "customer_note": {
                    "type": "string",
                    "description": "Note added to the order by the customer during checkout."
                  },
                  "billing_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      },
                      "email": {
                        "description": "Email",
                        "type": "string"
                      }
                    },
                    "description": "Billing address."
                  },
                  "shipping_address": {
                    "type": "object",
                    "properties": {
                      "first_name": {
                        "description": "First name",
                        "type": "string"
                      },
                      "last_name": {
                        "description": "Last name",
                        "type": "string"
                      },
                      "company": {
                        "description": "Company",
                        "type": "string"
                      },
                      "address_1": {
                        "description": "Address",
                        "type": "string"
                      },
                      "address_2": {
                        "description": "Flat, suite, etc.",
                        "type": "string"
                      },
                      "city": {
                        "description": "City",
                        "type": "string"
                      },
                      "state": {
                        "description": "State/County code, or name of the state, county, province, or district.",
                        "type": "string"
                      },
                      "postcode": {
                        "description": "Postcode",
                        "type": "string"
                      },
                      "country": {
                        "description": "Country/Region code in ISO 3166-1 alpha-2 format.",
                        "type": "string"
                      },
                      "phone": {
                        "description": "Phone",
                        "type": "string"
                      }
                    },
                    "description": "Shipping address."
                  },
                  "payment_method": {
                    "type": "string",
                    "enum": [
                      "",
                      "bacs",
                      "cheque",
                      "cod"
                    ],
                    "description": "The ID of the payment method being used to process the payment."
                  },
                  "additional_fields": {
                    "type": "object",
                    "properties": [],
                    "description": "Additional fields to be persisted on the order."
                  },
                  "extensions": {
                    "type": "object",
                    "properties": {
                      "woocommerce/order-attribution": {
                        "description": "Extension data registered by woocommerce/order-attribution",
                        "type": [
                          "object",
                          "null"
                        ],
                        "properties": {
                          "source_type": {
                            "description": "Order attribution field: source_type",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "referrer": {
                            "description": "Order attribution field: referrer",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_campaign": {
                            "description": "Order attribution field: utm_campaign",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source": {
                            "description": "Order attribution field: utm_source",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_medium": {
                            "description": "Order attribution field: utm_medium",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_content": {
                            "description": "Order attribution field: utm_content",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_id": {
                            "description": "Order attribution field: utm_id",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_term": {
                            "description": "Order attribution field: utm_term",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_source_platform": {
                            "description": "Order attribution field: utm_source_platform",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_creative_format": {
                            "description": "Order attribution field: utm_creative_format",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "utm_marketing_tactic": {
                            "description": "Order attribution field: utm_marketing_tactic",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_entry": {
                            "description": "Order attribution field: session_entry",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_start_time": {
                            "description": "Order attribution field: session_start_time",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_pages": {
                            "description": "Order attribution field: session_pages",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "session_count": {
                            "description": "Order attribution field: session_count",
                            "type": [
                              "string",
                              "null"
                            ]
                          },
                          "user_agent": {
                            "description": "Order attribution field: user_agent",
                            "type": [
                              "string",
                              "null"
                            ]
                          }
                        }
                      }
                    },
                    "default": {
                      "woocommerce/order-attribution": []
                    }
                  }
                },
                "required": [
                  "billing_address"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
[...]
