{
  "openapi": "3.1.0",
  "info": {
    "title": "Redefine Meat Content API (WordPress REST API wp/v2)",
    "version": "1.0.0",
    "description": "Content API served by www.redefinemeat.com: posts, pages, media, taxonomies and the site's custom post types (recipes, news, press releases, events, products). Read operations are public; write operations require authentication. Derived from the site's own WordPress REST discovery index and per-route OPTIONS schemas.",
    "contact": {
      "name": "Redefine Meat",
      "url": "https://www.redefinemeat.com/contact/"
    },
    "x-generated": "2026-08-05",
    "x-method": "derived",
    "x-source": "https://www.redefinemeat.com/wp-json/",
    "x-derivation": "Mechanically derived from the live WordPress REST API discovery index at https://www.redefinemeat.com/wp-json/ plus a per-route HTTP OPTIONS request against the same host, which returns each route's own JSON Schema. Paths, methods, parameter schemas and response schemas are the provider's own published values; none were authored by API Evangelist."
  },
  "servers": [
    {
      "url": "https://www.redefinemeat.com/wp-json",
      "description": "Redefine Meat WordPress REST API"
    }
  ],
  "security": [],
  "paths": {
    "/wp/v2/block-directory/search": {
      "get": {
        "operationId": "getWpV2BlockDirectorySearch",
        "summary": "GET /wp/v2/block-directory/search",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "term",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            },
            "description": "Limit result set to blocks matching the search term."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockDirectoryItem"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-patterns/categories": {
      "get": {
        "operationId": "getWpV2BlockPatternsCategories",
        "summary": "GET /wp/v2/block-patterns/categories",
        "tags": [
          "wp/v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockPatternCategory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-patterns/patterns": {
      "get": {
        "operationId": "getWpV2BlockPatternsPatterns",
        "summary": "GET /wp/v2/block-patterns/patterns",
        "tags": [
          "wp/v2"
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockPattern"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-renderer/{name}": {
      "get": {
        "operationId": "getWpV2BlockRendererByName",
        "summary": "GET /wp/v2/block-renderer/{name}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `name` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "attributes",
            "in": "query",
            "required": false,
            "schema": {
              "type": "object",
              "default": []
            },
            "description": "Attributes for the block."
          },
          {
            "name": "post_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "ID of the post context."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWpV2BlockRendererByName",
        "summary": "POST /wp/v2/block-renderer/{name}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `name` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "context": {
                    "type": "string",
                    "enum": [
                      "edit"
                    ],
                    "default": "view",
                    "description": "Scope under which the request is made; determines fields present in response."
                  },
                  "attributes": {
                    "type": "object",
                    "default": [],
                    "description": "Attributes for the block."
                  },
                  "post_id": {
                    "type": "integer",
                    "description": "ID of the post context."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-types": {
      "get": {
        "operationId": "getWpV2BlockTypes",
        "summary": "GET /wp/v2/block-types",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "namespace",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Block namespace."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BlockType"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-types/{namespace}": {
      "get": {
        "operationId": "getWpV2BlockTypesByNamespace",
        "summary": "GET /wp/v2/block-types/{namespace}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `namespace` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/block-types/{namespace}/{name}": {
      "get": {
        "operationId": "getWpV2BlockTypesByNamespaceByName",
        "summary": "GET /wp/v2/block-types/{namespace}/{name}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "namespace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `namespace` from the WordPress REST route pattern."
          },
          {
            "name": "name",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `name` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks": {
      "get": {
        "operationId": "getWpV2Blocks",
        "summary": "GET /wp/v2/blocks",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published after a given ISO8601 compliant date."
          },
          {
            "name": "modified_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified after a given ISO8601 compliant date."
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts published before a given ISO8601 compliant date."
          },
          {
            "name": "modified_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Limit response to posts modified before a given ISO8601 compliant date."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs."
          },
          {
            "name": "search_semantics",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "exact"
              ]
            },
            "description": "How to interpret the search input."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "author",
                "date",
                "id",
                "include",
                "modified",
                "parent",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            },
            "description": "Sort collection by post attribute."
          },
          {
            "name": "search_columns",
            "in": "query",
            "required": false,
            "schema": {
              "default": [],
              "type": "array",
              "items": {
                "enum": [
                  "post_title",
                  "post_content",
                  "post_excerpt"
                ],
                "type": "string"
              }
            },
            "description": "Array of column names to be searched."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to posts with one or more specific slugs."
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "default": "publish",
              "type": "array",
              "items": {
                "enum": [
                  "publish",
                  "future",
                  "draft",
                  "pending",
                  "private",
                  "trash",
                  "auto-draft",
                  "inherit",
                  "request-pending",
                  "request-confirmed",
                  "request-failed",
                  "request-completed",
                  "in-progress",
                  "failed",
                  "acf-disabled",
                  "wc-pending",
                  "wc-processing",
                  "wc-on-hold",
                  "wc-completed",
                  "wc-cancelled",
                  "wc-refunded",
                  "wc-failed",
                  "wc-checkout-draft",
                  "email_sent",
                  "email_failed",
                  "email_scheduled",
                  "any"
                ],
                "type": "string"
              }
            },
            "description": "Limit result set to posts assigned one or more statuses."
          },
          {
            "name": "tax_relation",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "AND",
                "OR"
              ]
            },
            "description": "Limit result set based on relationship between multiple taxonomies."
          },
          {
            "name": "wp_pattern_category",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "object",
                "array"
              ],
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    },
                    "operator": {
                      "description": "Whether items must be assigned all or any of the specified terms.",
                      "type": "string",
                      "enum": [
                        "AND",
                        "OR"
                      ],
                      "default": "OR"
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items with specific terms assigned in the wp_pattern_category taxonomy."
          },
          {
            "name": "wp_pattern_category_exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": [
                "object",
                "array"
              ],
              "oneOf": [
                {
                  "title": "Term ID List",
                  "description": "Match terms with the listed IDs.",
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "title": "Term ID Taxonomy Query",
                  "description": "Perform an advanced term query.",
                  "type": "object",
                  "properties": {
                    "terms": {
                      "description": "Term IDs.",
                      "type": "array",
                      "items": {
                        "type": "integer"
                      },
                      "default": []
                    }
                  },
                  "additionalProperties": false
                }
              ]
            },
            "description": "Limit result set to items, except those with specific terms assigned in the wp_pattern_category taxonomy."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/WpBlock"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWpV2Blocks",
        "summary": "POST /wp/v2/blocks",
        "tags": [
          "wp/v2"
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, in the site's time zone."
                  },
                  "date_gmt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, as GMT."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the post unique to its type."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private",
                      "in-progress",
                      "failed",
                      "acf-disabled",
                      "wc-pending",
                      "wc-processing",
                      "wc-on-hold",
                      "wc-completed",
                      "wc-cancelled",
                      "wc-refunded",
                      "wc-failed",
                      "wc-checkout-draft"
                    ],
                    "description": "A named status for the object."
                  },
                  "password": {
                    "type": "string",
                    "description": "A password to protect access to the content and excerpt."
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the object, as it exists in the database.",
                        "type": "string"
                      }
                    },
                    "description": "The title for the post."
                  },
                  "content": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer"
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The content for the post."
                  },
                  "excerpt": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string"
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The excerpt for the post."
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "_acf_changed": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "inline_featured_image": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    },
                    "description": "Meta fields."
                  },
                  "template": {
                    "type": "string",
                    "description": "The theme file to use to display the post."
                  },
                  "wp_pattern_category": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "The terms assigned to the object in the wp_pattern_category taxonomy."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpBlock"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{id}": {
      "get": {
        "operationId": "getWpV2BlocksById",
        "summary": "GET /wp/v2/blocks/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "excerpt_length",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Override the default excerpt length."
          },
          {
            "name": "password",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The password for the post if it is password protected."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWpV2BlocksById",
        "summary": "POST /wp/v2/blocks/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, in the site's time zone."
                  },
                  "date_gmt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, as GMT."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the post unique to its type."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private",
                      "in-progress",
                      "failed",
                      "acf-disabled",
                      "wc-pending",
                      "wc-processing",
                      "wc-on-hold",
                      "wc-completed",
                      "wc-cancelled",
                      "wc-refunded",
                      "wc-failed",
                      "wc-checkout-draft"
                    ],
                    "description": "A named status for the object."
                  },
                  "password": {
                    "type": "string",
                    "description": "A password to protect access to the content and excerpt."
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the object, as it exists in the database.",
                        "type": "string"
                      }
                    },
                    "description": "The title for the post."
                  },
                  "content": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer"
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The content for the post."
                  },
                  "excerpt": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string"
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The excerpt for the post."
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "_acf_changed": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "inline_featured_image": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    },
                    "description": "Meta fields."
                  },
                  "template": {
                    "type": "string",
                    "description": "The theme file to use to display the post."
                  },
                  "wp_pattern_category": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "The terms assigned to the object in the wp_pattern_category taxonomy."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putWpV2BlocksById",
        "summary": "PUT /wp/v2/blocks/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, in the site's time zone."
                  },
                  "date_gmt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, as GMT."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the post unique to its type."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private",
                      "in-progress",
                      "failed",
                      "acf-disabled",
                      "wc-pending",
                      "wc-processing",
                      "wc-on-hold",
                      "wc-completed",
                      "wc-cancelled",
                      "wc-refunded",
                      "wc-failed",
                      "wc-checkout-draft"
                    ],
                    "description": "A named status for the object."
                  },
                  "password": {
                    "type": "string",
                    "description": "A password to protect access to the content and excerpt."
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the object, as it exists in the database.",
                        "type": "string"
                      }
                    },
                    "description": "The title for the post."
                  },
                  "content": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer"
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The content for the post."
                  },
                  "excerpt": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string"
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The excerpt for the post."
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "_acf_changed": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "inline_featured_image": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    },
                    "description": "Meta fields."
                  },
                  "template": {
                    "type": "string",
                    "description": "The theme file to use to display the post."
                  },
                  "wp_pattern_category": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "The terms assigned to the object in the wp_pattern_category taxonomy."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchWpV2BlocksById",
        "summary": "PATCH /wp/v2/blocks/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, in the site's time zone."
                  },
                  "date_gmt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, as GMT."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the post unique to its type."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private",
                      "in-progress",
                      "failed",
                      "acf-disabled",
                      "wc-pending",
                      "wc-processing",
                      "wc-on-hold",
                      "wc-completed",
                      "wc-cancelled",
                      "wc-refunded",
                      "wc-failed",
                      "wc-checkout-draft"
                    ],
                    "description": "A named status for the object."
                  },
                  "password": {
                    "type": "string",
                    "description": "A password to protect access to the content and excerpt."
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the object, as it exists in the database.",
                        "type": "string"
                      }
                    },
                    "description": "The title for the post."
                  },
                  "content": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer"
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The content for the post."
                  },
                  "excerpt": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string"
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The excerpt for the post."
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "_acf_changed": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "inline_featured_image": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    },
                    "description": "Meta fields."
                  },
                  "template": {
                    "type": "string",
                    "description": "The theme file to use to display the post."
                  },
                  "wp_pattern_category": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "The terms assigned to the object in the wp_pattern_category taxonomy."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWpV2BlocksById",
        "summary": "DELETE /wp/v2/blocks/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to bypass Bin and force deletion."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{id}/autosaves": {
      "get": {
        "operationId": "getWpV2BlocksByIdAutosaves",
        "summary": "GET /wp/v2/blocks/{id}/autosaves",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "The ID for the parent of the autosave."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWpV2BlocksByIdAutosaves",
        "summary": "POST /wp/v2/blocks/{id}/autosaves",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "parent": {
                    "type": "integer",
                    "description": "The ID for the parent of the autosave."
                  },
                  "date": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, in the site's time zone."
                  },
                  "date_gmt": {
                    "type": [
                      "string",
                      "null"
                    ],
                    "format": "date-time",
                    "description": "The date the post was published, as GMT."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the post unique to its type."
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "publish",
                      "future",
                      "draft",
                      "pending",
                      "private",
                      "in-progress",
                      "failed",
                      "acf-disabled",
                      "wc-pending",
                      "wc-processing",
                      "wc-on-hold",
                      "wc-completed",
                      "wc-cancelled",
                      "wc-refunded",
                      "wc-failed",
                      "wc-checkout-draft"
                    ],
                    "description": "A named status for the object."
                  },
                  "password": {
                    "type": "string",
                    "description": "A password to protect access to the content and excerpt."
                  },
                  "title": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Title for the object, as it exists in the database.",
                        "type": "string"
                      }
                    },
                    "description": "The title for the post."
                  },
                  "content": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Content for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "block_version": {
                        "description": "Version of the content block format used by the post.",
                        "type": "integer"
                      },
                      "protected": {
                        "description": "Whether the content is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The content for the post."
                  },
                  "excerpt": {
                    "type": "object",
                    "properties": {
                      "raw": {
                        "description": "Excerpt for the post, as it exists in the database.",
                        "type": "string"
                      },
                      "rendered": {
                        "description": "HTML excerpt for the post, transformed for display.",
                        "type": "string"
                      },
                      "protected": {
                        "description": "Whether the excerpt is protected with a password.",
                        "type": "boolean"
                      }
                    },
                    "description": "The excerpt for the post."
                  },
                  "meta": {
                    "type": "object",
                    "properties": {
                      "_acf_changed": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "inline_featured_image": {
                        "type": "boolean",
                        "title": "",
                        "description": "",
                        "default": false
                      },
                      "wp_pattern_sync_status": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": "",
                        "enum": [
                          "partial",
                          "unsynced"
                        ]
                      },
                      "footnotes": {
                        "type": "string",
                        "title": "",
                        "description": "",
                        "default": ""
                      }
                    },
                    "description": "Meta fields."
                  },
                  "template": {
                    "type": "string",
                    "description": "The theme file to use to display the post."
                  },
                  "wp_pattern_category": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "The terms assigned to the object in the wp_pattern_category taxonomy."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{parent}/autosaves/{id}": {
      "get": {
        "operationId": "getWpV2BlocksByParentAutosavesById",
        "summary": "GET /wp/v2/blocks/{parent}/autosaves/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `parent` from the WordPress REST route pattern."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{parent}/revisions": {
      "get": {
        "operationId": "getWpV2BlocksByParentRevisions",
        "summary": "GET /wp/v2/blocks/{parent}/revisions",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `parent` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Offset the result set by a specific number of items."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "date",
              "enum": [
                "date",
                "id",
                "include",
                "relevance",
                "slug",
                "include_slugs",
                "title"
              ]
            },
            "description": "Sort collection by object attribute."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/blocks/{parent}/revisions/{id}": {
      "get": {
        "operationId": "getWpV2BlocksByParentRevisionsById",
        "summary": "GET /wp/v2/blocks/{parent}/revisions/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `parent` from the WordPress REST route pattern."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteWpV2BlocksByParentRevisionsById",
        "summary": "DELETE /wp/v2/blocks/{parent}/revisions/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "parent",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `parent` from the WordPress REST route pattern."
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          },
          {
            "name": "force",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Required to be true, as revisions do not support binning."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/categories": {
      "get": {
        "operationId": "getWpV2Categories",
        "summary": "GET /wp/v2/categories",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            },
            "description": "Current page of the collection."
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 100
            },
            "description": "Maximum number of items to be returned in result set."
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Limit results to those matching a string."
          },
          {
            "name": "exclude",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Ensure result set excludes specific IDs."
          },
          {
            "name": "include",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "default": []
            },
            "description": "Limit result set to specific IDs."
          },
          {
            "name": "order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "asc",
              "enum": [
                "asc",
                "desc"
              ]
            },
            "description": "Order sort attribute ascending or descending."
          },
          {
            "name": "orderby",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "name",
              "enum": [
                "id",
                "include",
                "name",
                "slug",
                "include_slugs",
                "term_group",
                "description",
                "count"
              ]
            },
            "description": "Sort collection by term attribute."
          },
          {
            "name": "hide_empty",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Whether to hide terms not assigned to any posts."
          },
          {
            "name": "parent",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "description": "Limit result set to terms assigned to a specific parent."
          },
          {
            "name": "post",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": null
            },
            "description": "Limit result set to terms assigned to a specific post."
          },
          {
            "name": "slug",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "Limit result set to terms with one or more specific slugs."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Category"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWpV2Categories",
        "summary": "POST /wp/v2/categories",
        "tags": [
          "wp/v2"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "HTML description of the term."
                  },
                  "name": {
                    "type": "string",
                    "description": "HTML title for the term."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the term unique to its type."
                  },
                  "parent": {
                    "type": "integer",
                    "description": "The parent term ID."
                  },
                  "meta": {
                    "type": "object",
                    "properties": [],
                    "description": "Meta fields."
                  }
                },
                "required": [
                  "name"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Category"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      }
    },
    "/wp/v2/categories/{id}": {
      "get": {
        "operationId": "getWpV2CategoriesById",
        "summary": "GET /wp/v2/categories/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          },
          {
            "name": "context",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "view",
                "embed",
                "edit"
              ],
              "default": "view"
            },
            "description": "Scope under which the request is made; determines fields present in response."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "postWpV2CategoriesById",
        "summary": "POST /wp/v2/categories/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "HTML description of the term."
                  },
                  "name": {
                    "type": "string",
                    "description": "HTML title for the term."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the term unique to its type."
                  },
                  "parent": {
                    "type": "integer",
                    "description": "The parent term ID."
                  },
                  "meta": {
                    "type": "object",
                    "properties": [],
                    "description": "Meta fields."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "putWpV2CategoriesById",
        "summary": "PUT /wp/v2/categories/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "HTML description of the term."
                  },
                  "name": {
                    "type": "string",
                    "description": "HTML title for the term."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the term unique to its type."
                  },
                  "parent": {
                    "type": "integer",
                    "description": "The parent term ID."
                  },
                  "meta": {
                    "type": "object",
                    "properties": [],
                    "description": "Meta fields."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response."
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "401": {
            "description": "Authentication or nonce required.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          },
          "404": {
            "description": "No route or resource found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WpRestError"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "patchWpV2CategoriesById",
        "summary": "PATCH /wp/v2/categories/{id}",
        "tags": [
          "wp/v2"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Path segment `id` from the WordPress REST route pattern."
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "HTML description of the term."
                  },
                  "name": {
                    "type": "string",
                    "description": "HTML title for the term."
                  },
                  "slug": {
                    "type": "string",
                    "description": "An alphanumeric identifier for the term unique to its type."
[...]
